<div class="no-transition bl-square">
	<div class="wrapper">	
		<div class="container">
			<div class="square"></div>
		</div>
	</div>
</div>

<script>
	templateOptions  = {
		onDisplay: function( parent ){
			$(BimLoader.getLoaderElements( parent )).hide();
			$(BimLoader.getLoaderElements( parent )).fadeIn(500);
		},
		onStop: function(parent){
			$(BimLoader.getLoaderElements( parent )).fadeOut(200 ,
				function(){
					BimLoader.removeLoaderElements( parent );
				});
			return true;
		}
	}
</script>